body {
    margin: 0px;
    background-color: #FBF5F5;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url('/assets/jiddybgremove.jpg');
    height: 95vh;
    image-rendering: crisp-edges;
    object-fit: fill;
    margin-bottom: 120vh;
    
}

.hero h1 {
    font-family: fantasy;
    font-size: 96px;
    font-weight: 800;
    letter-spacing: 24px;
    text-decoration: dashed;
    font-style: oblique;
}

