/* font example usage for reference */
.nata-sans-normal {
  font-family: "Nata Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.rethink-sans-normal{
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*GLOBAL BODY STYLES + OTHER GLOBAL COMPONENTS*/

html, body {
    overflow-x: hidden;
    background-image: linear-gradient(to right, #141414, #1E1B1B);
    color: white;
    font-family: "Rethink Sans", sans-serif;
}

.section-head {
    font-size: 64px;
    font-weight: 700;
    margin-top: 0px;
}

/*header cmpt*/

/* css header animation*/
@keyframes headertexthover {
    from {scale: 1.0; font-weight:600; text-decoration: none; color: white;}   
    to {scale: 1.1; text-decoration: underline; color: aquamarine; font-weight: 800;}
}


@media only screen and (max-width: 600px) {
   @keyframes headertexthover {
    from {scale: 1.0; font-weight:600; text-decoration: none; color: white;}   
    to {scale: 1.05; text-decoration: underline; color: aquamarine; font-weight: 800;}
    }
   
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2.5vh 6vw;
    background-color: rgba(0, 0, 0, 0); /*alt color - #302E2E*/
    margin: 0px;
    line-height: 0px;
    position: fixed;
    user-select: none;
    top: 0;
    width: 88vw;
    z-index: 50;
    
}

header button {
    font-size: 24px;
    font-family: monospace;
    background: none;
    border: none;
    flex: 1;
    
}
header button:hover {
    scale: 1.2;
}

header a {
    color: white;
    text-decoration: none;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header a:hover {
    scale: 1.1;
    transition: all;
    transition-delay: 50ms;
    animation: headertexthover;
    animation-duration: 0.5s;
    color: aquamarine;
    font-weight: 800;
    text-decoration: underline;
}

@media (max-width: 1200px) {

    header {
        padding: 2.5vh 6vw;
        width: 88vw;
    }
    header button {
        font-size: 22px;
    }

    header a:hover {
        scale: 1.10;
    }

}

@media (max-width: 992px) {

    header {
        padding: 2.5vh 5.5vw;
        width: 89vw;
    }
    header button {
        font-size: 18px;
    }

    header a:hover {
        scale: 1.10;
    }

}

@media (max-width: 768px) {

    header {
        padding: 2.5vh 5vw;
        width: 90vw;
    }
    header button {
        font-size: 16px;
    }

    header a:hover {
        scale: 1.05;
    }

}

@media (max-width: 600px) {

    header {
        padding: 2.5vh 4vw;
        width: 92vw;
    }
    header button {
        font-size: 14px;
    }

    header a:hover {
        scale: 1.05;
    }

}


/*hero - home*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
    width: 100vw;

    background-image: url('/assets/tuff.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero img {
    image-rendering: crisp-edges;
    object-fit: contain;
    z-index: 0;
}

.hero h1 {
    font-family: "Syne", sans-serif;
    color: white;
    font-size: 5.5vw;
    font-weight: 800;
    letter-spacing: 24px;
    text-decoration: dashed;
    font-style: oblique;
    z-index: 2;
    position: absolute;
    text-align: left;
    bottom: -5%;
    padding: 4vh 2vw;
    
}

@media only screen and (max-width: 600px) {
    .hero {
        height: 45vh;
        font-size: 3.5vw;
        letter-spacing: 16px;
    }
}

/* about - home */
.about {
    padding: 10vh 5vw;  
    display: flex;
    flex-direction: row; 
    gap: 5vw
}

.about .about-text {
    font-weight: 500;
    font-size: 24px;

}

.about .about-text em {
    font-weight: 600;
    background-color: rgba(155, 240, 245, 75);
    color: black;
    padding: 0px 1px;
}

.about img {
    height: auto;
    width: 30vw;
    object-fit: cover;
    border-radius: 12px;    
}

/* latest releases - home*/
.latest-releases {
    padding: 5vh 5vw; 
    background-color: azure;
    color: black;
}

.latest-releases-items {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4vw;
}

.discog-item-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
    margin-top: 3vh;
}

.discog-item-contributors {
    font-size: 14px;
    font-weight: 500;
    margin: 0.5vh 0px;
    color: black;
}


/* tours - home*/
.tours {
    padding: 5vh 5vw; 
}

/* discog/music - discog*/
.discog-item {
    display: flex;
    gap: 6vw;
    padding: 4vw;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

#desc-section {
    gap: 2px;
}

#desc-section h2 {
    margin: 0px;
}


.songlist {
    gap: 6px;
    padding-left: 2vw;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 100%;
    

}

.songlist .song {
    gap: 2px;
    font-family: "Nata Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    
    
}

.songlist .song #artists {
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 80);
    margin: 0px;
}

#desc-section button {
    margin-top: 4vh;
}