

/*GLOBAL BODY STYLES + OTHER GLOBAL COMPONENTS*/

html, body {
    overflow-x: hidden;
    background-image: linear-gradient(to right, #141414, #1E1B1B);
    color: white;
    font-family: "Rethink Sans", sans-serif;
}

.section-head {
    font-size: 64px;
    font-weight: 800;
    margin-top: 0px;
    font-family: "Syne", sans-serif;
    
}


.page-header {
    width: 100vw;
    background-color: white;
    margin-top: 15vh;
}

.page-title {
    font-family: "Syne", sans-serif;
    color: black;
    font-weight: 900;
    text-decoration: dashed;
    font-style: oblique;
    z-index: 2;
    font-size: 8vw;
    text-align: left;
    padding: 4vh 5vw;
}

a {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    .section-head {
        font-size: 48px;
    }

}


@media only screen and (min-width: 600px) {
    .section-head {
        font-size: 48px;
    }
}


@media only screen and (min-width: 768px) {
    .section-head {
        font-size: 48px;
    }
}


@media only screen and (min-width: 992px) {
    .section-head {
        font-size: 64px;
    }
}


@media only screen and (min-width: 1200px) {
    .section-head {
        font-size: 64px;
    }
}

/*header cmpt*/

/* css header animation*/
@keyframes headertexthover {
    from {scale: 1.0; font-weight:600; text-decoration: none; color: white;}   
    to {scale: 1.1; text-decoration: underline; color: #EDB02D; font-weight: 800;}
}


@media only screen and (max-width: 768px) {
   @keyframes headertexthover {
    from {scale: 1.0; font-weight:600; text-decoration: none; color: white;}   
    to {scale: 1.05; text-decoration: underline; color: #EDB02D; font-weight: 800;}
    }
   
}

@keyframes carthover {
    from {scale: 1.0; font-weight:600; color: white;}   
    to {scale: 1.1; color: #EDB02D; font-weight: 800;}
}


@media only screen and (max-width: 768px) {
   @keyframes carthover {
    from {scale: 1.0; font-weight:600; color: white;}   
    to {scale: 1.05; color: #EDB02D; font-weight: 800;}
    }
   
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0); /*alt color - #302E2E*/
    margin: 0px;
    line-height: 0px;
    position: fixed;
    user-select: none;
    top: 0;
    z-index: 50;
    align-items: center;
    
}

header button {
    background: none;
    border: none;
    flex: 1;
    
}
header button:hover {
    scale: 1.2;
}

header div {
    width: 70%;
    justify-content: space-between;
    display: flex;
}

header a {
    color: white;
    text-decoration: none;
    font-family: "Syne", sans-serif;
    font-weight: 600;
    font-style: normal;
}

header a:hover {
    scale: 1.1;
    transition: all;
    transition-delay: 50ms;
    animation: headertexthover;
    animation-duration: 0.5s;
    color: #EDB02D;
    font-weight: 800;
    text-decoration: underline;
}

header a span:hover {
    scale: 1.1;
    transition: all;
    transition-delay: 50ms;
    animation: carthover;
    animation-duration: 0.2s;
    color: #EDB02D;
}


@media only screen and (max-width: 600px) {
     header {
        padding: 2.5vh 4vw;
        width: 92vw;
    }
    header button {
        font-size: 14px;
        display: none;
    }

    header a:hover {
        scale: 1.05;
    }

    header span {
        font-size: 16px;
    }

    #menu_burger {
        height: auto;
        width: 5vw;
    }

    @keyframes menu_burger_flip {
        from {rotate: 0deg;}
        to {rotate: 180deg;}
    }

    #menu_burger:hover {
        rotate: 180deg;
        animation: menu_burger_flip;
        transition: all;
        transition-duration: 100ms;
    }


}


@media only screen and (min-width: 600px) {
    header {
        padding: 2.5vh 5vw;
        width: 90vw;
    }
    header button {
        font-size: 16px;
    }

    header a:hover {
        scale: 1.05;
    }

    header span {
        font-size: 16px;
    }

    #menu_burger {
        display: none;
    }
}


@media only screen and (min-width: 768px) {
    
    header {
        padding: 2.5vh 6vw;
        width: 88vw;
    }
    header button {
        font-size: 20px;
    }

    header a:hover {
        scale: 1.10;
    }
    header span {
        font-size: 20px;
    }

    #menu_burger {
        display: none;
        width: 0vw;
    }

}


@media only screen and (min-width: 992px) {
    header {
        padding: 2.5vh 6vw;
        width: 88vw;
    }
    header button {
        font-size: 24px;
    }

    header a:hover {
        scale: 1.10;
    }

    header span {
        font-size: 24px;
    }

    #menu_burger {
        display: none;
        width: 0vw;
    }
}


@media only screen and (min-width: 1200px) {
    header {
        padding: 2.5vh 6vw;
        width: 88vw;
    }
    header button {
        font-size: 24px;
    }

    header a:hover {
        scale: 1.10;
    }

    header span {
        font-size: 24px;
    }

    #menu_burger {
        display: none;
        width: 0vw;
    }
}


/*hero - home*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;

    background-image: url('./assets/hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero img {
    image-rendering: crisp-edges;
    object-fit: contain;
    z-index: 0;
}

.hero h1 {
    font-family: "Syne", sans-serif;
    color: white;
    font-weight: 900;
    text-decoration: dashed;
    font-style: oblique;
    z-index: 2;
    position: absolute;
    text-align: left;
    bottom: -5%;
    padding: 4vh 2vw;
    
}

@media only screen and (max-width: 600px) {
    .hero {
        height: 50vh;
    }
    .hero h1 {
        font-size: 10vw;
        letter-spacing: 12px;
    }
}


@media only screen and (min-width: 600px) {
    .hero {
        height: 60vh;
    }
    .hero h1 {
        font-size: 10vw;
        letter-spacing: 12px;
    }
}


@media only screen and (min-width: 768px) {
    
    .hero {
        height: 70vh;
    }
    .hero h1 {
        font-size: 9vw;
        letter-spacing: 18px;
    }

}


@media only screen and (min-width: 992px) {
    .hero {
        height: 70vh;
    }
    .hero h1 {
        font-size: 5.5vw;
        letter-spacing: 18px;
    }
}


@media only screen and (min-width: 1200px) {
    .hero {
        height: 90vh;
    }
    .hero h1 {
        font-size: 5.5vw;
        letter-spacing: 24px;
    }
}




/* about - home */
.about {
    padding: 10vh 5vw;  
    display: flex;
    flex-direction: row; 
    gap: 5vw
}

.about .about-text {
    font-weight: 500;
    line-height: 2.75vh;

}

.about .about-text em {
    font-weight: 600;
    background-color: rgba(155, 240, 245, 75);
    color: black;
    padding: 0px 1px;
    background-color: #F2F0A0;
}

.about img {
    height: auto;
    object-fit: cover;
    border-radius: 12px;    
}

@media only screen and (max-width: 600px) {
    .about {
        padding: 5vh 5vw;  
    }

    .about img {
        visibility: hidden;  
        width: 0%;
    }

    .about .about-text {
        font-size: 20px;
        line-height: normal;
    }
}


@media only screen and (min-width: 600px) {
    .about {
        padding: 5vh 5vw;  
    }

    .about img {
        visibility: hidden;  
        width: 0%;
    }

    .about .about-text {
        font-size: 24px;
    }
}


@media only screen and (min-width: 768px) {
    .about {
        padding: 5vh 5vw;  
    }

    .about img {
        visibility: hidden;  
        width: 0%;
    }

    .about .about-text {
        font-size: 24px;
    }
}


@media only screen and (min-width: 992px) {

    .about {
        padding: 7vh 5vw;  
    }


    .about img {
        visibility: visible;  
        width: 30vw;
    }

    .about .about-text {
        font-size: 22px;
        line-height: 2.5vh;
    }
}


@media only screen and (min-width: 1200px) {
    .about {
        padding: 10vh 5vw;  
    }

    .about img {
        visibility: visible;  
        width: 30vw;
    }

    .about .about-text {
        font-size: 24px;
        line-height: 2.75vh;
    }
}

/* latest releases - home*/
.latest-releases {
    padding: 5vh 5vw; 
    background-color: #F6F6F6;
    color: black;
    
}

.latest-releases-items {
    display: grid;
    position: relative;
}



.discog-vert {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
}


.discog-img {
    height: auto;
    width: 22vw;
}
.discog-item-title {
    font-weight: 800;
    margin: 0px;
}



.discog-item-contributors {
    font-family: "Sora", sans-serif;
    font-weight: 300;
    margin: 0vh 0px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 22vw;
}

@keyframes streaming-button-hover {
    from {background-color: inherit; color: black; scale: 1.0}
    to {background-color: #6BBC59; color: white; scale: 1.2}
}

@media only screen and (max-width: 768px) {

    @keyframes streaming-button-hover {
        from {background-color: inherit; color: black;}
        to {background-color: #6BBC59; color: white;}
    }
    
}



.streaming-redirect {
    margin-top: 2vh;
    border-radius: 24px;
    width: 50%;
    padding: 2vh 2vw;
    font-size: 24px;
    font-weight: 700;
    width: 20vw;
    border-style: solid;
    align-items: center;
    display: flex;
    justify-content: space-between;
}



.streaming-redirect:hover {
    animation: streaming-button-hover;
    transition: all;
    animation-duration: 200ms;
    transition-delay: 50ms;
    background-color: #6BBC59;
    color: white;
    scale: 1.2;
}


@media only screen and (max-width: 600px) {
    .discog-img {
        height: auto;
        width: 100%;
    }

    .streaming-redirect {
        font-size: 18px;
        width: 100%;
        margin: 4vh 0px
    }

    .streaming-redirect:hover {
        scale: 1.0;

    }

    .latest-releases-items {
        gap: 2vw;
        grid-template-columns: auto;
        overflow-x: auto;
    }

    .discog-item-title {
        font-size: 32px;
        margin-top: 2vh;
    }
    
    .discog-item-contributors {
        font-size: 24px;
        width: 80vw;
        

    }

    .streaming-redirect span {
        font-size: 24px;
        
    }

}


@media only screen and (min-width: 600px) {
    .discog-img {
        height: auto;
        width: 100%;
    }

    .streaming-redirect {
        font-size: 18px;
        width: 100%;
         margin: 4vh 0px;
    }

    .latest-releases-items {
        gap: 2vw;
        grid-template-columns: auto;
    }

    .discog-item-title {
        font-size: 48px;
        margin-top: 2vh;
    }
    
    .discog-item-contributors {
        font-size: 30px;
        width: 80vw;
        
    }

    .streaming-redirect:hover {
        scale: 1.0;

    }
    

    .streaming-redirect span {
        font-size: 24px;
        
    }

    .streaming-redirect {
        margin: 6vh auto

    }
}


@media only screen and (min-width: 768px) {
    .discog-img {
        height: auto;
        width: 23vw;
    }

    .streaming-redirect {
        font-size: 18px;
        width: 23vw;
         margin: 4vh 0px;
    }

    .latest-releases-items {
        gap: 2vw;
        grid-template-columns: auto auto auto;
    }

    .streaming-redirect:hover {
        scale: 1.2;

    }

    .discog-item-title {
        font-size: 24px;
        margin-top: 2vh;
    }
    
    .discog-item-contributors {
        font-size: 12px;
        width: 22vw;
    }

    

    .streaming-redirect span {
        font-size: 24px;
    }
}


@media only screen and (min-width: 992px) {
    .discog-img {
        height: auto;
        width: 23vw;
    }

    .latest-releases-items {
        gap: 3vw;
        grid-template-columns: auto auto auto;
    }

    .discog-item-title {
        font-size: 28px;
        margin-top: 2.5vh;
    }
    
    .discog-item-contributors {
        font-size: 14px;
        width: 22vw;
    }

    .streaming-redirect {
        font-size: 20px;
        width: 23vw;
         margin: 4vh 0px;
    }

    .streaming-redirect span {
        font-size: 28px;
    }

}


@media only screen and (min-width: 1200px) {
    .discog-img {
        height: auto;
        width: 23vw;
    }

    .latest-releases-items {
        gap: 4vw;
        grid-template-columns: auto auto auto;
    }

    .discog-item-title {
        font-size: 32px;
        margin-top: 3vh;
    }
    
    .discog-item-contributors {
        font-size: 16px;
        width: 22vw;
    }

    .streaming-redirect {
        font-size: 24px;
        width: 23vw;
         margin: 4vh 0px;
    }

    .streaming-redirect span {
        font-size: 32px;
    }
}



/* tours - home & tours*/
.tours {
    padding: 5vh 5vw; 
}

.tour-main {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 8vw;
    row-gap: 4vh;
    padding-right: 5vw;
}

.tour-item {
    display: flex;
    flex-direction: column;
    padding: 3vh 2vw;
    border-radius: 24px;
    border-width: 4px;
    border-color: aliceblue;
    border-style: solid;
    width: 100%;
}

.tour-item h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tour-item-location {
    font-size: 18px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;
    color: rgba(255, 255, 255, 60);
}

.tour-item-infobar {
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
    align-items: end;
    font-family: "Sora", sans-serif;
}
.tour-item-datetime-info {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.tour-item-date {
    font-size: 18px;
    font-weight: 600;
}

.tour-item-time {
    font-size: 18px;
    font-weight: 400;
}

.tour-item-name {
    font-size: 32px;
    margin: 0px;
    margin-bottom: 2px;
    font-weight: 800;
}

.tour-item-book-ticket {
    background-color: #D9D9D9; 
    border-radius: 24px;
    border-style: solid;
    padding: 1.5vh 1.5vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;  
    color: black; 
}

.tour-item-book-ticket a {
    font-size: 18px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    text-align: end;
    color: inherit;
    text-decoration: none;
    width: 100%;
}

@keyframes tour-button-hover {
    from {background-color: inherit; color: black;}
    to {background-color: #6BBC59; color: white;}
}

.tour-item-book-ticket:hover {
    animation: tour-button-hover;
    transition: all;
    animation-duration: 200ms;
    transition-delay: 100ms;
    background-color: #6BBC59;
    color: white;
}

@media only screen and (max-width: 600px) {

    .tours {
        padding: 5vh 5vw;
        padding-top: 0vh;
    }
    .tour-main {

        grid-template-columns: auto;

    }

    .tour-item-name {
        font-size: 24px;
    }
    
    .tour-item {
        padding: 3vh 5vw;
        width: 90%;
    }

    .tour-item-infobar {
        font-size: 16px;
    }

    .tour-item-location {
        font-size: 16px;
    }

    .tour-item-book-ticket {
        padding: 1.5vh 2.5vw;
    }

    .tour-item-book-ticket a {
        font-size: 16px;
    }

    .tour-main { 
        row-gap: 3vh;
    }
}


@media only screen and (min-width: 600px) {
    .tours {
        padding: 5vh 5vw;
        padding-top: 0vh;
    }

    .tour-main {
        grid-template-columns: auto;
    }

    .tour-item-name {
        font-size: 28px;
    }
    
    .tour-item {
        padding: 3vh 5vw;
        width: 90%;
    }

    .tour-item-infobar {
        font-size: 16px;
    }

    .tour-item-location {
        font-size: 16px;
    }

    .tour-item-book-ticket {
        padding: 1.5vh 2.5vw;
    }

    .tour-item-book-ticket a {
        font-size: 16px;
    }
}


@media only screen and (min-width: 768px) {
    .tour-main {
        grid-template-columns: auto;
    }

     .tours {
        padding: 5vh 5vw;
        padding-top: 0vh;
    }

    .tour-item-name {
        font-size: 28px;
    }
    
    .tour-item {
        padding: 3vh 5vw;
        width: 90%;
    }

    .tour-item-infobar {
        font-size: 16px;
    }

    .tour-item-location {
        font-size: 16px;
    }

    .tour-item-book-ticket {
        padding: 1.5vh 2.5vw;
    }

    .tour-item-book-ticket a {
        font-size: 16px;
    }
}


@media only screen and (min-width: 992px) {
    .tour-main {
        grid-template-columns: auto auto;
    }

     .tours {
        padding: 5vh 5vw;
        padding-top: 0vh;
    }
    
    .tour-item-name {
        font-size: 32px;
    }
    
    .tour-item {
        padding: 3vh 2vw;
        width: 100%;
    }

    .tour-item-infobar {
        font-size: 18px;
    }

    .tour-item-location {
        font-size: 18px;
    }

    .tour-item-book-ticket {
        padding: 1.5vh 1.5vw;
    }

    .tour-item-book-ticket a {
        font-size: 18px;
    }
}


@media only screen and (min-width: 1200px) {
    .tour-main {

        grid-template-columns: auto auto;

    }
}




/* footer - home*/


.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vh 0vw;
}


@keyframes footer-icn-hover {
    from {scale: 1.0}
    to {scale: 1.2}
}

.footer a:hover {
    scale: 1.2;
    transition: all;
    transition-duration: 200ms;
    animation: footer-icn-hover;
}
.icn-row {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: center;
    align-items: center;
}

.socmed-icn {
    height: auto;
    width: 24px;
}




/* discog/music - discog*/
.discog-item-row {
    display: flex;
    gap: 4vw;
    padding: 4vw;
    align-items: start;
    position: relative;
}

.discog-item-contributors-hori {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0vh 0px;
    color: white;
}

.discog-item-row img {
    height: auto;
    width: 30vw;
}

.discog-item-title-hori {
    font-weight: 800;
    font-size: 48px;
    margin: 0vh 0vw;
}
.discog-desc-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#desc-section h2 {
    margin: 0px;
}

.discog-item-desc-hori {
    font-size: 20px;
    padding-top: 12vh;
    font-weight: 600;
    padding-right: 5vw;
    display: block;
}

#desc-section button {
    margin-top: 4vh;
}

.streaming-redirect-hori {
    margin-top: 4vh;
    border-radius: 24px;
    width: 50%;
    padding: 2vh 2vw;
    font-size: 32px;
    font-weight: 700;
    border-style: solid;
    align-items: center;
    display: flex;
    
    
    background: none;
    border-color: white;
    border-width: 2px;
    color: white;
    justify-content: space-between;
    

}


@keyframes streaming-redirect-hori-button {
    from {background: none; background-color: white; width: 50%;}
    to {background: local; background-color: #99BC84; width: 30%;}
}

@media only screen and (max-width: 768px) {
    @keyframes streaming-redirect-hori-button {
    from {background: none; background-color: white; width: 100%;}
    to {background: local; background-color: #99BC84; width: 50%;}
}
}

@media only screen and (max-width: 992px) {
    @keyframes streaming-redirect-hori-button {
    from {background: none; background-color: white; width: 80%;}
    to {background: local; background-color: #99BC84; width: 40%;}
}
}

.streaming-redirect-hori:hover {
    transition: all;
    transition-property: all;
    background: none;
    background-color: #99BC84;
    color: black;
    transition-duration: 200ms;
    width: 30%
   
}

.streaming-redirect-hori span:hover{
    rotate: 180deg;
}



@media only screen and (max-width: 600px) {
    .discog-item-row {
        flex-direction: column;
    }

    .discog-item-row img {
        height: auto;
        width: 100%;
    }

    .discog-item-title-hori {
        font-size: 28px;
    }

    .discog-item-contributors-hori {
        font-size: 12px;
    }

    .discog-item-desc-hori {
        display: none;
    }

    #hide-on-small {
        display: none;
    }

    #hide-on-large {
        display: block;
    }
    
    .streaming-redirect-hori {
        width: 100%;
        font-size: 24px;
    }

     .streaming-redirect-hori:hover {
        width: 50%;
    }
}


@media only screen and (min-width: 600px) {
    .discog-item-row {
        flex-direction: column;
    }


    .discog-item-row img {
        height: auto;
        width: 100%;
    }

    .discog-item-title-hori {
        font-size: 32px;
    }

    .discog-item-contributors-hori {
        font-size: 14px;
    }

    .discog-item-desc-hori {
        display: none;
    }

    #hide-on-small {
        display: none;
    }

    #hide-on-large {
        display: block;
    }

    .streaming-redirect-hori {
        width: 100%;
        font-size: 26px;
    }

     .streaming-redirect-hori:hover {
        width: 50%;
    }
}


@media only screen and (min-width: 768px) {
    .discog-desc-section:nth-child(odd) {
        text-align: right;
        justify-content: end;
        align-items: end;
        justify-items: end;
    }

    #discog-hori-desc-even {
        padding-left: 5vw;
        padding-right: 0px;
    }

    .discog-item-row {
        flex-direction: row;
    }


    .discog-item-row img {
        height: auto;
        width: 30vw;
    }

    .discog-item-title-hori {
        font-size: 32px;
    }

    .discog-item-contributors-hori {
        font-size: 14px;
    }

    .discog-item-desc-hori {
        display: none;
    }

    #hide-on-small {
        display: block;
    }

    #hide-on-large {
        display: none;
    }

    .streaming-redirect-hori {
        width: 80%;
        font-size: 32px;
    }

    .streaming-redirect-hori:hover {
        width: 40%;
    }

    #odd {
        margin-left: auto;
    }
    
}


@media only screen and (min-width: 992px) {
    
    .discog-desc-section:nth-child(odd) {
        text-align: right;
        justify-content: end;
        align-items: end;
        justify-items: end;
    }

    #discog-hori-desc-even {
        padding-left: 5vw;
        padding-right: 0px;
    }
    
    .discog-item-row {
        flex-direction: row;
    }


    .discog-item-row img {
        height: auto;
        width: 30vw;
    }

    .discog-item-title-hori {
        font-size: 42px;
    }

    .discog-item-contributors-hori {
        font-size: 16px;
    }

    .discog-item-desc-hori {
        display: none;
    }

    #hide-on-small {
        display: block;
    }

    #hide-on-large {
        display: none;
    }

    .streaming-redirect-hori {
        width: 50%;
    }

    .streaming-redirect-hori:hover {
        width: 30%;
    }

    #hide-on-small {
        display: block;
    }

    #hide-on-large {
        display: none;
    }
}


@media only screen and (min-width: 1200px) {
    
    .discog-desc-section:nth-child(odd) {
        text-align: right;
        justify-content: end;
        align-items: end;
        justify-items: end;
    }

    #discog-hori-desc-even {
        padding-left: 5vw;
        padding-right: 0px;
    }
    
    .discog-item-row {
        flex-direction: row;
    }


    .discog-item-row img {
        height: auto;
        width: 30vw;
    }

    .discog-item-title-hori {
        font-size: 48px;
    }

    .discog-item-contributors-hori {
        font-size: 18px;
    }

    .discog-item-desc-hori {
        display: block;
    }

    #hide-on-small {
        display: block;
    }

    #hide-on-large {
        display: none;
    }

    
    
    .streaming-redirect-hori {
        width: 50%;
    }

    .streaming-redirect-hori:hover {
        width: 30%;
    }

    #hide-on-small {
        display: block;
    }

    #hide-on-large {
        display: none;
    }
}

/*shop - shop*/
.shop-items {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5vw;
    padding: 5vh 5vw;
}

.shop-item img {
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 12px;
}
.shop-item-name {
    margin: 8px 0px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
}

.shop-item-price {
    margin: 0px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Sora', sans-serif;
}

.add-to-cart-text {
    font-weight: 300;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    width: 25vw;
    text-align: center;
    font-style: italic;
    margin-bottom: 1vh;
    margin-top: 2vh;

}

.add-to-cart {
    display: flex;
    border-radius: 24px;
    border-width: 2px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 24px;
    width: 9vw;
    border-color: white;
    border-style: solid;
    color: white;
    background: none;
    padding: 2vh 8vw;
    align-items: center;
}

.add-to-cart h4 {
    margin: 0px;
}
.add-to-cart button {
    border: none;
    background: none;
    color: white;
    padding: 0px;
}

.add-item {
    border-left-width: 2px;
}


@media only screen and (max-width: 600px) {
    .shop-items {
        grid-template-columns: auto;
    }

    .shop-item img {
        width: 100%;
    }

    .add-to-cart-text {
        width: 100%;
    }

    .add-to-cart {
        width: 80%;
        margin-bottom: 10vh;
    }


}


@media only screen and (min-width: 600px) {
    .shop-items {
        grid-template-columns: auto;
    }

    .shop-item img {
        width: 100%;
    }

    .add-to-cart-text {
        width: 100%;
    }

    .add-to-cart {
        width: 80%;
        margin-bottom: 10vh;
    }
}


@media only screen and (min-width: 768px) {
    .shop-items {
        grid-template-columns: auto auto auto;
    }

    .shop-item img {
        width: 100%;
    }

    .add-to-cart-text {
        width: 100%;
    }

    .add-to-cart {
        width: 68%;
        padding: 2vh 4vw;
        margin-bottom: 10vh;
    }

    .shop-item-name {
        font-size: 24px;
    }

    .shop-item-price {
        font-size: 16px;
    }
}


@media only screen and (min-width: 992px) {
    .shop-items {
        grid-template-columns: auto auto auto;
    }

    .shop-item img {
        width: 100%;
    }

    .add-to-cart-text {
        width: 100%;
    }

    .add-to-cart {
        width: 68%;
        margin-bottom: 10vh;
        padding: 2vh 4vw;
    }

    .shop-item-name {
        font-size: 28px;
    }

    .shop-item-price {
        font-size: 20px;
    }
}


@media only screen and (min-width: 1200px) {
    .shop-items {
        grid-template-columns: auto auto auto;
    }

    .shop-item img {
        width: 100%;
    }

    .add-to-cart-text {
        width: 100%;
    }

    .add-to-cart {
        width: 68%;
        margin-bottom: 10vh;
        padding: 2vh 4vw;
    }

    .shop-item-name {
        font-size: 32px;
    }

    .shop-item-price {
        font-size: 20px;
    }
}

/*cart page*/
.cart-section {
    padding: 5vh 5vw;
    
}

.cart-item {
    display: flex;
    gap: 4vw;
    margin-bottom: 6vh;
    position: relative;
}

.cart-item-img {
    width: 25vw;
    height: auto;
    border-radius: 12px;
    background-color: #F6F6F6;
}

.cart-item-desc {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cart-item-name {
    font-size: 48px;
    font-weight: 700;  
     margin: 0px; 
}

.cart-item-price {
    font-size: 32px;
    font-weight: 300;
    font-family: "Sora", sans-serif;
    margin: 0px; 
}

#cart-amount-buttons {
    margin-top: 15vh;
    position: absolute;
    bottom: 0%;
    margin-bottom: 0vh;
}

@keyframes payment-hover {
    from {background: none; color: white; border-color: white; text-decoration: none;}
    to {background-color: #F2F0A0; color: black;  border-color: rgba(0,0,0,0); text-decoration: underline;}
}

.go-to-payment {
    width: 70%;
    border-width: 2px;
    border-color: white;
    font-size: 32px;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    margin: 5vh 15vw;
    padding: 3vh;
    border-style: solid;
    background: none;
    color: white;
}


.go-to-payment:hover {
    background-color: #F2F0A0;
    color: black;
    text-decoration: underline;
    animation: payment-hover;
    transition: all;
    transition-duration: 300ms;
    border-color: rgba(0,0,0,0)
}

.cart-empty-text {
    font-weight: 800;
    font-family: 'Sora', sans-serif;
    padding: 5vh 5vw;
}


@media only screen and (max-width: 600px) {
    .cart-section {
        min-height: 30vh;
    }
    .cart-item {
        flex-direction: column;
    }

    .cart-item-img {
        width: 100%;
    }

    #cart-amount-buttons {
        position: relative;
        margin-top: 5vh;
        width: 80%;
    }

    .cart-item-name {
        font-size: 32px;
    }

    .cart-empty-text {
        font-size: 32px;
    }
}


@media only screen and (min-width: 600px) {


    #cart-amount-buttons {
        position: relative;
        margin-top: 5vh;
        width: 80%;
    }

    .cart-item-name {
        font-size: 32px;
    }

    .cart-empty-text {
        font-size: 48px;
    }

    .cart-section {
        min-height: 20vh;
    }
}


@media only screen and (min-width: 768px) {

    #cart-amount-buttons {
        position: absolute;
        bottom: 0%;
        margin-top: 5vh;
        width: 18vw;
    }

    .cart-item-name {
        font-size: 36px;
    }

    .cart-empty-text {
        font-size: 48px;
    }

    .cart-section {
        min-height: 20vh;
    }
}


@media only screen and (min-width: 992px) {
    #cart-amount-buttons {
        position: absolute;
        bottom: 0%;
        margin-top: 5vh;
        width: 18vw;
    }

    .cart-item-name {
        font-size: 40px;
    }

    .cart-empty-text {
        font-size: 60px;
    }

    .cart-section {
        min-height: 15vh;
    }
}


@media only screen and (min-width: 1200px) {
    #cart-amount-buttons {
        position: absolute;
        bottom: 0%;
        margin-top: 5vh;
        width: 18vw;
    }

    .cart-item-name {
        font-size: 48px;
    }
}

/*payment page*/
#payment-head {
    color: white;
    padding-top: 5vh;
    padding-bottom: 0px;
    margin: 0px;
}

.payment-page {
    margin: 0vh 5vw;
}

.item-information-purchase {
    padding: 0vh 5vw 5vh 5vw;
    display: flex;
    flex-direction: column;
}

.item-information-purchase form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.item-information-purchase form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 8vh;
    row-gap: 1vh;
}
.item-information-purchase form div label {
    font-size: 48px;
    font-weight: 600;
    font-family: "Sora", sans-serif;

}

.item-information-purchase form div input{
    padding: 2vh 1vw;
    margin-top: 1vh;
    border-width: 4px;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 12px;
}

.item-information-purchase .name {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
}


.pay-now-button {
    width: 100%;
    border-width: 2px;
    border-color: white;
    font-size: 32px;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    padding: 3vh;
    border-style: solid;
    background: none;
    color: white;
}


.pay-now-button:hover {
    background-color: #F2F0A0;
    color: black;
    text-decoration: underline;
    transition: all;
    animation: payment-hover;
    transition-duration: 300ms;
    border-color: rgba(0,0,0,0)
}


#total-payable {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 10vh;
    margin: 0px;
}

.seat-selector {
    margin: 10vh 0vw 20vh 0vw;
    display: flex;
    gap: 4vw;

}

.seats-img {
    height: auto;
    width: 60vw;
}

.seat-selector form label{
    font-size: 48px;
    font-weight: 600;
    font-family: "Sora", sans-serif;
}

.seat-selector form select {
    padding: 2vh 1vw;
    margin-top: 1vh;
    border-width: 4px;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 12px;
}

#location-payment {
    font-size: 32px;
    font-weight: 600;
    padding-left: 5vw;
    margin: 0px;
}

/*only need changes on small screen*/
@media only screen and (max-width: 600px) {
    .item-information-purchase .name {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .seat-selector {
        flex-direction: column;
        padding-bottom: 5vh;
    }

    .seats-img {
        width: 100%;
    }

    #location-payment {
        font-size: 16px;
    }

    .seat-selector form label{
        font-size: 28px;
    }

    #payment-head { 

        font-size: 12vw;
    }

    #total-payable {
        font-size: 20px;
    }

    .item-information-purchase form div label {
        font-size: 28px;
    }
}


@media only screen and (min-width: 600px) {
    .seat-selector {
        flex-direction: column;
        padding-bottom: 5vh;
    }

    .seats-img {
        width: 100%;
    }

    #location-payment {
        font-size: 20px;
    }

    .seat-selector form label{
        font-size: 32px;
    }

    
    #payment-head {
        font-size: 12vw;
    }

    #total-payable {
        font-size: 24px;
    }

    .item-information-purchase form div label {
        font-size: 32px;
    }
}


@media only screen and (min-width: 768px) {
    .seat-selector {
        flex-direction: row;
        padding-bottom: 10vh;
    }

    .seats-img {
        width: 40vw;
    }

    #location-payment {
        font-size: 24px;
    }

    .seat-selector form label{
        font-size: 36px;
    }

    #payment-head {
        font-size: 10vw;
    }

    #total-payable {
        font-size: 28px;
    }

    .item-information-purchase form div label {
        font-size: 40px;
    }
}




@media only screen and (min-width: 992px) {
    #location-payment {
        font-size: 28px;
    }

    .seat-selector form label{
        font-size: 42px;
    }

    #payment-head {
        font-size: 8vw;
    }

    #total-payable {
        font-size: 32px;
    }

    .item-information-purchase form div label {
        font-size: 48px;
    }

    .item-information-purchase .name {
        gap: 1vw;
    }
}


@media only screen and (min-width: 1200px) {
    #location-payment {
        font-size: 32px;
    }

    .seat-selector form label{
        font-size: 48px;
    }
}


/* small screen only page*/
.menu_full {
    height: 100vh;
    width: 100%;
}

.menu_full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu_full button {
    background: none;
    border: none;
    
}
.menu_full button:hover {
    scale: 1.2;
}

.menu_full a {
    color: white;
    text-decoration: none;
    font-family: "Syne", sans-serif;
    font-weight: 600;
    font-size: 60px;
    font-style: normal;
}

.menu_full a:hover {
    scale: 1.05;
    transition: all;
    transition-delay: 50ms;
    animation: headertexthover;
    animation-duration: 0.5s;
    color: #EDB02D;
    font-weight: 800;
    text-decoration: underline;
}