/* font example usage for reference */
.nata-sans-normal {
  font-family: "Nata Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.rethink-sans-normal{
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.sora-normal {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.urbanist-normal {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/*MEDIAQUERY TEMPLATE FROM W3SCHOOLS*/

/*
@media only screen and (max-width: 600px) {

}


@media only screen and (min-width: 600px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

}
*/

/*GLOBAL BODY STYLES + OTHER GLOBAL COMPONENTS*/

html, body {
    overflow-x: hidden;
    background-image: linear-gradient(to right, #141414, #1E1B1B);
    color: white;
    font-family: "Rethink Sans", sans-serif;
}

.section-head {
    font-size: 64px;
    font-weight: 800;
    margin-top: 0px;
    font-family: "Syne", sans-serif;
    
}

.page-header {
    width: 100vw;
    background-color: white;
    margin-top: 15vh;
}

.page-title {
    font-family: "Syne", sans-serif;
    color: black;
    font-weight: 900;
    text-decoration: dashed;
    font-style: oblique;
    z-index: 2;
    font-size: 6vw;
    text-align: left;
    padding: 4vh 2vw;
}

/*header cmpt*/

/* css header animation*/
@keyframes headertexthover {
    from {scale: 1.0; font-weight:600; text-decoration: none; color: white;}   
    to {scale: 1.1; text-decoration: underline; color: #EDB02D; font-weight: 800;}
}


@media only screen and (max-width: 768px) {
   @keyframes headertexthover {
    from {scale: 1.0; font-weight:600; text-decoration: none; color: white;}   
    to {scale: 1.05; text-decoration: underline; color: #EDB02D; font-weight: 800;}
    }
   
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0); /*alt color - #302E2E*/
    margin: 0px;
    line-height: 0px;
    position: fixed;
    user-select: none;
    top: 0;
    z-index: 50;
    
}

header button {
    background: none;
    border: none;
    flex: 1;
    
}
header button:hover {
    scale: 1.2;
}

header a {
    color: white;
    text-decoration: none;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header a:hover {
    scale: 1.1;
    transition: all;
    transition-delay: 50ms;
    animation: headertexthover;
    animation-duration: 0.5s;
    color: #EDB02D;
    font-weight: 800;
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
     header {
        padding: 2.5vh 4vw;
        width: 92vw;
    }
    header button {
        font-size: 14px;
    }

    header a:hover {
        scale: 1.05;
    }
}


@media only screen and (min-width: 600px) {
    header {
        padding: 2.5vh 5vw;
        width: 90vw;
    }
    header button {
        font-size: 16px;
    }

    header a:hover {
        scale: 1.05;
    }
}


@media only screen and (min-width: 768px) {
    
    header {
        padding: 2.5vh 6vw;
        width: 88vw;
    }
    header button {
        font-size: 20px;
    }

    header a:hover {
        scale: 1.10;
    }

}


@media only screen and (min-width: 992px) {
    header {
        padding: 2.5vh 6vw;
        width: 88vw;
    }
    header button {
        font-size: 24px;
    }

    header a:hover {
        scale: 1.10;
    }
}


@media only screen and (min-width: 1200px) {
    header {
        padding: 2.5vh 6vw;
        width: 88vw;
    }
    header button {
        font-size: 20px;
    }

    header a:hover {
        scale: 1.10;
    }
}


/*hero - home*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;

    background-image: url('/assets/tuff.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.hero img {
    image-rendering: crisp-edges;
    object-fit: contain;
    z-index: 0;
}

.hero h1 {
    font-family: "Syne", sans-serif;
    color: white;
    font-weight: 900;
    text-decoration: dashed;
    font-style: oblique;
    z-index: 2;
    position: absolute;
    text-align: left;
    bottom: -5%;
    padding: 4vh 2vw;
    
}

@media only screen and (max-width: 600px) {
    .hero {
        height: 50vh;
    }
    .hero h1 {
        font-size: 10vw;
        letter-spacing: 12px;
    }
}


@media only screen and (min-width: 600px) {
    .hero {
        height: 60vh;
    }
    .hero h1 {
        font-size: 10vw;
        letter-spacing: 12px;
    }
}


@media only screen and (min-width: 768px) {
    
    .hero {
        height: 70vh;
    }
    .hero h1 {
        font-size: 9vw;
        letter-spacing: 18px;
    }

}


@media only screen and (min-width: 992px) {
    .hero {
        height: 70vh;
    }
    .hero h1 {
        font-size: 5.5vw;
        letter-spacing: 18px;
    }
}


@media only screen and (min-width: 1200px) {
    .hero {
        height: 90vh;
    }
    .hero h1 {
        font-size: 5.5vw;
        letter-spacing: 24px;
    }
}




/* about - home */
.about {
    padding: 10vh 5vw;  
    display: flex;
    flex-direction: row; 
    gap: 5vw
}

.about .about-text {
    font-weight: 500;
    line-height: 2.75vh;

}

.about .about-text em {
    font-weight: 600;
    background-color: rgba(155, 240, 245, 75);
    color: black;
    padding: 0px 1px;
    background-color: #F2F0A0;
}

.about img {
    height: auto;
    object-fit: cover;
    border-radius: 12px;    
}

@media only screen and (max-width: 600px) {
    .about img {
        visibility: hidden;  
        width: 0%;
    }

    .about .about-text {
        font-size: 20px;
        line-height: normal;
    }
}


@media only screen and (min-width: 600px) {
    .about img {
        visibility: hidden;  
        width: 0%;
    }

    .about .about-text {
        font-size: 24px;
    }
}


@media only screen and (min-width: 768px) {
    .about img {
        visibility: hidden;  
        width: 0%;
    }

    .about .about-text {
        font-size: 24px;
    }
}


@media only screen and (min-width: 992px) {
    .about img {
        visibility: visible;  
        width: 30vw;
    }

    .about .about-text {
        font-size: 22px;
        line-height: 2.5vh;
    }
}


@media only screen and (min-width: 1200px) {
    .about img {
        visibility: visible;  
        width: 30vw;
    }

    .about .about-text {
        font-size: 24px;
        line-height: 2.75vh;
    }
}
/* latest releases - home*/
.latest-releases {
    padding: 5vh 5vw; 
    background-color: #F6F6F6;
    color: black;
    
}

.latest-releases-items {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4vw;
    overflow-x: auto;
}



.discog-vert {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
}


.discog-img {
    height: auto;
    width: 22vw;
}
.discog-item-title {
    font-size: 32px;
    font-weight: 800;
    margin: 0px;
    margin-top: 3vh;
}



.discog-item-contributors {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0vh 0px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 22vw;
}

@keyframes streaming-button-hover {
    from {background-color: inherit; color: black; scale: 1.0}
    to {background-color: #6BBC59; color: white; scale: 1.2}
}

.streaming-redirect {
    margin-top: 2vh;
    border-radius: 24px;
    width: 50%;
    padding: 2vh 2vw;
    font-size: 24px;
    font-weight: 700;
    width: 20vw;
    border-style: solid;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.streaming-redirect span {
    font-size: 32px;
}


.streaming-redirect:hover {
    animation: streaming-button-hover;
    transition: all;
    animation-duration: 200ms;
    transition-delay: 50ms;
    background-color: #6BBC59;
    color: white;
    scale: 1.2;
}


@media only screen and (max-width: 600px) {

}


@media only screen and (min-width: 600px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

    .latest-releases-items {
        gap: 3vw;
    }

    .discog-item-title {
        font-size: 28px;
        margin-top: 2.5vh;
    }
    
    .discog-item-contributors {
        font-size: 14px;
    }

    

    .streaming-redirect {
        font-size: 20px;
    }

    .streaming-redirect span {
        font-size: 28px;
    }

}


@media only screen and (min-width: 1200px) {
    .streaming-redirect {
        font-size: 20px;
    }
}



/* tours - home*/
.tours {
    padding: 5vh 5vw; 
}

.tour-main {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8vw;
    padding-right: 5vw;
}

.tour-item {
    display: flex;
    flex-direction: column;
    padding: 3vh 2vw;
    border-radius: 24px;
    border-width: 4px;
    border-color: aliceblue;
    border-style: solid;
    width: 100%;
}

.tour-item h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.tour-item-location {
    font-size: 18px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;
    color: rgba(255, 255, 255, 60);
}

.tour-item-infobar {
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
    align-items: end;
    font-family: "Sora", sans-serif;
}
.tour-item-datetime-info {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.tour-item-date {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}

.tour-item-time {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.tour-item-name {
    font-size: 32px;
    margin: 0px;
    margin-bottom: 2px;
    font-weight: 800;
    letter-spacing: 3%;
}

.tour-item-book-ticket {
    background-color: #D9D9D9; 
    border-radius: 24px;
    border-style: solid;
    padding: 1.5vh 1.5vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;  
    color: black; 
}

.tour-item-book-ticket a {
    font-size: 18px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    text-align: end;
    
    width: 100%;
}

@keyframes tour-button-hover {
    from {background-color: inherit; color: black;}
    to {background-color: #6BBC59; color: white;}
}

.tour-item-book-ticket:hover {
    animation: tour-button-hover;
    transition: all;
    animation-duration: 200ms;
    transition-delay: 100ms;
    background-color: #6BBC59;
    color: white;
}




/* footer - home*/


.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vh 0vw
}

/* mailing list - footer
.submit-email {
    padding-left: 5vw;
}

.submit-email-header {
    font-family: "Syne", sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 0px;
}

.submit-email form {
    align-content: center;
    gap: 5vw;

}

.submit-email form input {
    background-color: #E9E9E9 ;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    width: 20vw;

}
*/

@keyframes footer-icn-hover {
    from {scale: 1.0}
    to {scale: 1.2}
}

.footer a:hover {
    scale: 1.2;
    transition: all;
    transition-duration: 200ms;
    animation: footer-icn-hover;
}
.icn-row {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    justify-content: center;
    align-items: center;
}

.socmed-icn {
    height: auto;
    width: 24px;
}




/* discog/music - discog*/
.discog-item-row {
    display: flex;
    gap: 6vw;
    padding: 4vw;
    align-items: start;
    position: relative;
}

.discog-item-contributors-hori {
    font-family: "Sora", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0vh 0px;
    color: white;
}

.discog-item-row img {
    height: auto;
    width: 30vw;
}

.discog-item-title-hori {
    font-family: "Syne", sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin: 0vh 0vw;
}
.discog-desc-section {
    display: flex;
    flex-direction: column;
}

#desc-section h2 {
    margin: 0px;
}


.songlist {
    gap: 6px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 100%;
    row-gap: 2vh;
    

}

.songlist .song {
    gap: 2px;
    font-family: "Nata Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    margin: 0px 0px;
    
    
}

.songlist .song #song-num {
    margin: 0px;
    font-size: 24px;
    font-weight: 800;
    text-decoration: dashed;
    color: #FFEFE1;
}

.songlist .song #name {
    margin: 0px;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 600;
}

.songlist .song #artists {
    font-family: "Syne", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
    color: rgba(255, 255, 255, 60)
    
}

#desc-section button {
    margin-top: 4vh;
}

/*shop - shop*/
.shop-items {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5vw;
    padding: 5vh 5vw;
}

.shop-item img {
    width: 25vw;
    background-color: #F6F6F6;
    border-radius: 12px;
}
.shop-item-name {
    margin: 8px 0px;
    position: relative;
    font-size: 24px;
    font-weight: 700;
}

.shop-item-price {
    margin: 0px;
    font-weight: 400;
    font-family: 'Sora', sans-serif;
}

.shop-add-to-cart {
    width: 25vw;
    margin-top: 3vh;
    padding: 1vh;
    font-size: 24px;
    border-radius: 32px;
    font-weight: 700;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.shop-add-to-cart h4 {
    margin: 0px;
    font-size: 32px;
    padding: 0vh 1vw
}

.add-item {
    border-left-width: 2px;
}